{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row d-inline-flex">
        {{ render(controller('App\\Controller\\HomeController::getProduct')) }}
    </div>
</div>
{% endblock %}
