{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <style>
        .card-img-top {
            width: 100%;
            height: 30vh;
            object-fit: cover;
        }

        .count {
            float: right;
        }
    </style>
{% endblock %}
{% block body %}
    {% if orderConfirm == true %}
        <div class="alert alert-success" role="alert">
            Votre commande a bien été confirmée ! Vous receverez un mail lors de son expédition.
        </div>
    {% endif %}
<div class="container mt-4">
    {% include('products/product.html.twig') %}
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('.sortable').addClass("dropdown-item");
            $('.asc, .desc').addClass("dropdown-item active").css('color', 'white');
            $('.asc').append('<i class="fas fa-arrow-circle-up"></i>');
            $('.desc').append('<i class="fas fa-arrow-circle-down"></i>');
        });
    </script>
{% endblock %}